@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --back2: #2F3033;
  --front: rgb(255, 255, 255);
  --lightGrey: rgb(204, 204, 204);
}

* {
  margin: 0;
 font-family: 'Cairo', sans-serif;
 /* color: #333; */
 color:rgb(87, 87, 87);
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding-bottom: 100%;
  float: left;
  font-size: x-large;
  border-right-style: solid;
  border-right-color: var(--lightGrey);
}

.link {
  border-left-style: solid;
  border-left-color: rgb(136, 136, 136);
  padding-left: 5%;
  margin: 10px;
  text-decoration: none;
}

.main {
  font-size: x-large;
  margin-left:25%;
}

#title {
  padding-left: 0.5em;
  letter-spacing: 13px;
  background-color: var(--back2);
  color: rgb(255, 255, 255);
}

#cards {
  border-style: solid;
  border-color: var(--lightGrey);
  margin: 1em;
}

.card {
  margin: 1em;
  border-bottom-style: solid;
  border-bottom-color:  var(--lightGrey);
}

.grcheckbox {
  margin-right: 2%;
}

.link:hover {
  background-color:  #2F3033;
  color: white;
}

#cards:hover {
  background-color: rgb(238, 238, 238);
}

.link:active {
  background-color:  var(--lightGrey);
}

#addIcon {
  font-size: 220%;
  position: absolute;
  right: 0;
  margin-right: 18px;
}

#addIcon:hover {
  background-color: rgb(238, 238, 238);
}

#addIcon:active {
  background-color:  var(--lightGrey);
}
